.header{
    background: #fff;
    border: 0;
    color: #333;
    font-weight: 400;
    font-size: 16px;
    /*border-bottom: 1px solid #ddd;*/
    box-shadow: 0 5px 8px #c7c7c7;
    display: flex;
    height: 40px;
    align-items: center;
}
.headerLeft{
    flex: 1;
    height: 100%;
}
.headerCon{
    flex: 5;
    text-align: center;
}
.headerRight{
    flex: 1;
}
.back{
    position: relative;
}
.back:before,.back-white:before{
    content: '\0020';
    border-left: 1px solid #333;
    border-top: 1px solid #333;
    position: absolute;
    left: 16px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    width: 16px;
    height: 16px;
    top: 12px;
}
.back-white:before{
    border-left: 1px solid #fff;
    border-top: 1px solid #fff;
}
