.publicPersonalHeader{
    position: relative;
    width: 100%;
}
.publicPersonalHeaderBg{
    width: 100%;
}
.publicPersonalHeaderLogo{
    position: absolute;
    width: 70px;
    height: 70px;
    left: 50%;
    top: 20px;
    transform: translate(-50%,0);
    z-index: 2;
    border-radius: 50%;
    border:3px solid #fff;
    padding: 3px;
    overflow: hidden;
}
.publicPersonalHeaderLogo img{
    height: 100%;
    border-radius: 50%
}
